*{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998
}

.carte {
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}


.carte img {
    width: 200px;
    border-radius: 50%;
}

.carte h2 {
    font-size: 50px;
    font-weight: 300px;
    margin-top: 20px;
}

.carte p {
    font-size: 20px;
    margin: 10px auto;
    max-width: 330px;
}

.carte .socials img {
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background 0.5s;
}

.carte .socials img:hover {
    background: rgba(255, 255, 255, 0);
}

.carteA {
    width: 100%;
    max-width: 500px;
    margin-top: 4000px; 
    top: 50%;
    left: -120%;
    bottom: 50px; 
    position: relative;
    color: aliceblue;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}


.carteA img {
    width: 200px;
    border-radius: 50%;
}

.carteA h2 {
    font-size: 50px;
    font-weight: 300px;
    margin-top: 20px;
}

.carteA p {
    font-size: 20px;
    margin: 10px auto;
    max-width: 330px;
}

.carteA .socials img {
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background 0.5s;
}

.carteA .socials img:hover {
    background: rgba(255, 255, 255, 0);
}

.carteB {
    width: 100%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    bottom: 700px; 
    position: relative;
    color: aliceblue;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}

.carteB img {
    width: 200px;
    border-radius: 50%;
}

.carteB h2 {
    font-size: 50px;
    font-weight: 300px;
    margin-top: 20px;
}

.carteB p {
    font-size: 20px;
    margin: 10px auto;
    max-width: 330px;
}

.carteB .socials img {
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background 0.5s;
}

.carteB .socials img:hover {
    background: rgba(255, 255, 255, 0);
}

.carteC {
    width: 100%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    bottom: 600px; 
    position: relative;
    color: aliceblue;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}

.carteC img {
    width: 200px;
    border-radius: 50%;
}

.carteC h2 {
    font-size: 50px;
    font-weight: 300px;
    margin-top: 20px;
}

.carteC p {
    font-size: 20px;
    margin: 10px auto;
    max-width: 330px;
}

.carteC .socials img {
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background 0.5s;
}

.carteC .socials img:hover {
    background: rgba(255, 255, 255, 0);
}

.projet1 {
    width: 100%;
    max-width: 500px;
    top: 50%;
    left: -130%;
    bottom: 150px;
    position: relative;
    color: aliceblue;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}

.projet2 {
    width: 100%;
    max-width: 500px;
    top: 50%;
    left: -130%;
    bottom: 100px;
    position: relative;
    color: aliceblue;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}

.projet3 {
    width: 100%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    bottom: 750px;
    position: relative;
    color: aliceblue;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}

.projet4 {
    width: 100%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    bottom: 700px;
    position: relative;
    color: aliceblue;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}

.bouton {
    text-decoration: none;
    display: inline-block; 
    margin: 30px 0 10px; 
    font-size: 20px;
    font-weight: 700;
    background: white;
    color: rgb(22, 102, 172);
    padding: 10px 30px;
    border-radius: 30px;
}

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    top: 0.01%;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
    align-items: center;
}

.navbar .logo img {
    width: 80px; 
    height: auto; 
    margin-right: 10px; 
    top: 5%;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li.active a {
    color: red;
    font-weight: 600;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}

.container {
    margin-bottom: 100px;
    position: absolute;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    top: 235%; 
    transform: translateY(-50%); 
    left: 50px; 
    width: calc(100% - 100px); 
}

.container h1 {
    margin-bottom: 10px; 
    font-size: 80px;
    
}

.container h2 {
    margin-top: 10px;
}

.container h3 {
    margin-top: 10px;
}

.about-me-container {
    margin-bottom: 100px;
    position: absolute;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    top: 120%; 
    transform: translateY(-50%); 
    left: 75px; 
    width: calc(100% - 100px);   
}

.about-me-container h1 {
    margin-bottom: 20px; 
    font-size: 80px;
    
}

.about-me-container h2 {
    margin-top: 20px;
}

.about-me-container h3 {
    margin-top: 10px;
}


.contact-container {
    margin-bottom: 100px;
    position: absolute;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    top: -10%; 
    transform: translateY(-50%); 
    left: 50px; 
    width: calc(100% - 100px); 
}

.contact-container h1 {
    margin-bottom: 10px; 
    font-size: 80px;
    
}

.contact-container h2 {
    margin-top: 10px;
}

.contact-container h3 {
    margin-top: 10px;
}

span{
    color: rgb(255, 255, 255);
}

.contact {
    position: absolute;
    top: 400%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    margin-top: -20px;
}

.contact h2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
}

.contact form {
    width: 600px;
    text-align: center;
}

.contact2-container {
    margin-bottom: 100px;
    position: absolute;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    top: -10%; 
    transform: translateY(-50%); 
    left: 50px; 
    width: calc(100% - 100px); 
}

.contact2-container h1 {
    margin-bottom: 10px; 
    font-size: 80px;
    
}

.contact2-container h2 {
    margin-top: 10px;
}

.contact2-container h3 {
    margin-top: 10px;
}

span{
    color: rgb(255, 255, 255);
}

.contact2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    margin-top: -20px;
}

.contact2 h2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
}

.contact2 form {
    width: 600px;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: center;
}

.input-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.input-field {
    margin-right: 50px;

}

.input-field .item {
    width: 40%; 
    margin-right: 5px; 
}

.input-field:last-child {
    margin-right: 0; 
}

.input-box .input-field {
    width: 48.5%;

}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid rgb(93, 103, 155);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    margin: 12px 0;
}

.field.error .item {
    border-color: red;

}

.field .item::placeholder {
    color: rgb(255, 255, 255);
}

.field .error-txt {
    font-size: 14.5px;
    color: red;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;
}

form .textarea-field .item {
    resize: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

form button {
    padding: 12px 32px;
    background: rgb(93, 103, 155);
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(93, 103, 155);
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

footer {
    color: white;
    padding: 20px 0 10px;
    text-align: center;
    position: relative; 
    top: 400px;
    bottom: 0px; 
    width: 100%; 
    left: -43%;
}

.footerHS p {
    margin: 0; 
}

form button:hover {
    box-shadow: none;
}



@media screen and (max-width: 900px) {

    body {
        overflow-y: hidden;
    }

    .carte {
        width: 100%;
        max-width: 500px;
        position: relative;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        color: aliceblue;
        text-align: center;
        padding: 0px 0px;
        border: 1px solid rgba(255,255,255,0.3);
        background: rgba(255,255,255,0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0,0,0,0.1);
        backdrop-filter: blur(5px);
    }
    
    
    .carte img {
        width: 200px;
        border-radius: 50%;
    }
    
    .carte h2 {
        font-size: 50px;
        font-weight: 300px;
        margin-top: 20px;
    }
    
    .carte p {
        font-size: 20px;
        margin: 10px auto;
        max-width: 330px;
    }
    
    .carte .socials img {
        width: 40px;
        border-radius: 50%;
        margin: 10px 5px;
        transition: background 0.5s;
    }
    
    .carte .socials img:hover {
        background: rgba(255, 255, 255, 0);
    }
  
    .container, .carteA, .carteB, .carteC, .projet1, .projet2, .projet3, .projet4 {
        display: none !important;
    }

    footer {
        color: white;
        padding: 20px 0 10px;
        text-align: center;
        position: relative; 
        top: 400px;
        bottom: 0px; 
        width: 100%; 
        left: -62%;
    }

    .contact2-container {
        margin-bottom: 100px;
        position: relative;
        padding-bottom: 10px;
        color: rgb(255, 255, 255);
        top: -10%; 
        transform: translateY(-50%); 
        left: 0; 
        width: calc(100% - 100px); 
    }
    
    .contact2-container h1 {
        margin-bottom: 10px; 
        font-size: 80px;
        
    }
    
    .contact2-container h2 {
        margin-top: 10px;
    }
    
    .contact2-container h3 {
        margin-top: 10px;
    }
    
    span{
        color: rgb(255, 255, 255);
    }
    
    .contact2 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        margin-top: -20px;
    }
    
    .contact2 h2 {
        font-size: 40px;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 10px;
    }
    
    .contact2 form {
        width: 300px;
        text-align: center;
    }
    
    form .input-box {
        display: flex;
        justify-content: center;
    }
    
    .input-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px; 
    }
    
    .input-field {
        margin-right: 50px;
    
    }
    
    .input-field .item {
        width: 40%; 
        margin-right: 5px; 
    }
    
    .input-field:last-child {
        margin-right: 0; 
    }
    
    .input-box .input-field {
        width: 48.5%;
    
    }
    
    .field .item {
        width: 100%;
        padding: 18px;
        background: transparent;
        border: 2px solid rgb(93, 103, 155);
        outline: none;
        border-radius: 6px;
        font-size: 16px;
        color: white;
        margin: 12px 0;
    }
    
    .field.error .item {
        border-color: red;
    
    }
    
    .field .item::placeholder {
        color: rgb(255, 255, 255);
    }
    
    .field .error-txt {
        font-size: 14.5px;
        color: red;
        text-align: left;
        margin: -5px 0 10px;
        display: none;
    }
    
    .field.error .error-txt {
        display: block;
    }
    
    form .textarea-field .item {
        resize: none;
    }
    
    form .textarea-field .error-txt {
        margin-top: -10px;
    }
    
    form button {
        padding: 12px 32px;
        background: rgb(93, 103, 155);
        border: none;
        outline: none;
        border-radius: 6px;
        box-shadow: 0 0 10px rgb(93, 103, 155);
        font-size: 16px;
        color: #ffffff;
        letter-spacing: 1px;
        font-weight: 600;
        cursor: pointer;
        margin-top: 20px;
        transition: .5s;
    }
    
    .footerHS p {
        margin: 0; 
    }
} 



@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.backgroundppl {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.backgroundppl span {
    width: 19vmin;
    height: 19vmin;
    border-radius: 19vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.backgroundppl span:nth-child(0) {
    color: #bb5876;
    top: 23%;
    left: 100%;
    animation-duration: 47s;
    animation-delay: -12s;
    transform-origin: -23vw -1vh;
    box-shadow: -38vmin 0 5.138104924082311vmin currentColor;
}
.backgroundppl span:nth-child(1) {
    color: #bb5876;
    top: 43%;
    left: 3%;
    animation-duration: 54s;
    animation-delay: -40s;
    transform-origin: -24vw 23vh;
    box-shadow: -38vmin 0 5.6361364214300025vmin currentColor;
}
.backgroundppl span:nth-child(2) {
    color: #000000;
    top: 67%;
    left: 100%;
    animation-duration: 39s;
    animation-delay: -23s;
    transform-origin: -9vw -8vh;
    box-shadow: -38vmin 0 5.710991135636546vmin currentColor;
}
.backgroundppl span:nth-child(3) {
    color: #000000;
    top: 96%;
    left: 56%;
    animation-duration: 17s;
    animation-delay: -7s;
    transform-origin: 0vw -10vh;
    box-shadow: 38vmin 0 5.309089034763004vmin currentColor;
}
.backgroundppl span:nth-child(4) {
    color: #e18989;
    top: 90%;
    left: 18%;
    animation-duration: 51s;
    animation-delay: -30s;
    transform-origin: -6vw 16vh;
    box-shadow: 38vmin 0 5.683610379558224vmin currentColor;
}
.backgroundppl span:nth-child(5) {
    color: #bb5876;
    top: 100%;
    left: 48%;
    animation-duration: 53s;
    animation-delay: -19s;
    transform-origin: 23vw 23vh;
    box-shadow: 38vmin 0 4.905065793147076vmin currentColor;
}
.backgroundppl span:nth-child(6) {
    color: #e18989;
    top: 82%;
    left: 97%;
    animation-duration: 30s;
    animation-delay: -13s;
    transform-origin: -20vw -6vh;
    box-shadow: 38vmin 0 5.051735761174017vmin currentColor;
}
.backgroundppl span:nth-child(7) {
    color: #000000;
    top: 45%;
    left: 19%;
    animation-duration: 28s;
    animation-delay: -15s;
    transform-origin: -12vw 24vh;
    box-shadow: 38vmin 0 4.896186576349148vmin currentColor;
}
.backgroundppl span:nth-child(8) {
    color: #e18989;
    top: 97%;
    left: 84%;
    animation-duration: 52s;
    animation-delay: -10s;
    transform-origin: 12vw -16vh;
    box-shadow: -38vmin 0 4.775917716551234vmin currentColor;
}
.backgroundppl span:nth-child(9) {
    color: #e18989;
    top: 70%;
    left: 83%;
    animation-duration: 41s;
    animation-delay: -7s;
    transform-origin: -4vw 5vh;
    box-shadow: -38vmin 0 5.696660997286747vmin currentColor;
}
.backgroundppl span:nth-child(10) {
    color: #bb5876;
    top: 54%;
    left: 69%;
    animation-duration: 28s;
    animation-delay: -28s;
    transform-origin: 10vw 10vh;
    box-shadow: -38vmin 0 5.669205894368405vmin currentColor;
}
.backgroundppl span:nth-child(11) {
    color: #000000;
    top: 18%;
    left: 72%;
    animation-duration: 41s;
    animation-delay: -30s;
    transform-origin: 11vw 12vh;
    box-shadow: 38vmin 0 5.375024518779012vmin currentColor;
}
.backgroundppl span:nth-child(12) {
    color: #e18989;
    top: 34%;
    left: 5%;
    animation-duration: 39s;
    animation-delay: -50s;
    transform-origin: -8vw -22vh;
    box-shadow: 38vmin 0 5.597738686529903vmin currentColor;
}
.backgroundppl span:nth-child(13) {
    color: #000000;
    top: 55%;
    left: 57%;
    animation-duration: 14s;
    animation-delay: -11s;
    transform-origin: -13vw -16vh;
    box-shadow: 38vmin 0 5.616455887396821vmin currentColor;
}
.backgroundppl span:nth-child(14) {
    color: #bb5876;
    top: 61%;
    left: 90%;
    animation-duration: 32s;
    animation-delay: -35s;
    transform-origin: 10vw 20vh;
    box-shadow: 38vmin 0 5.555485429718192vmin currentColor;
}
.backgroundppl span:nth-child(15) {
    color: #e18989;
    top: 34%;
    left: 32%;
    animation-duration: 16s;
    animation-delay: -12s;
    transform-origin: -1vw 0vh;
    box-shadow: -38vmin 0 5.042760357062715vmin currentColor;
}
.backgroundppl span:nth-child(16) {
    color: #000000;
    top: 11%;
    left: 24%;
    animation-duration: 22s;
    animation-delay: -50s;
    transform-origin: 7vw 13vh;
    box-shadow: -38vmin 0 5.479608375123918vmin currentColor;
}
.backgroundppl span:nth-child(17) {
    color: #000000;
    top: 26%;
    left: 76%;
    animation-duration: 33s;
    animation-delay: -28s;
    transform-origin: -15vw 7vh;
    box-shadow: -38vmin 0 5.4506132769340105vmin currentColor;
}
.backgroundppl span:nth-child(18) {
    color: #bb5876;
    top: 5%;
    left: 89%;
    animation-duration: 26s;
    animation-delay: -47s;
    transform-origin: 8vw 15vh;
    box-shadow: -38vmin 0 5.322322487240729vmin currentColor;
}
.backgroundppl span:nth-child(19) {
    color: #bb5876;
    top: 56%;
    left: 25%;
    animation-duration: 47s;
    animation-delay: -11s;
    transform-origin: -16vw -6vh;
    box-shadow: -38vmin 0 5.261640883099621vmin currentColor;
}
.backgroundppl span:nth-child(20) {
    color: #000000;
    top: 58%;
    left: 18%;
    animation-duration: 38s;
    animation-delay: -46s;
    transform-origin: -18vw 14vh;
    box-shadow: -38vmin 0 4.921464539732563vmin currentColor;
}
.backgroundppl span:nth-child(21) {
    color: #bb5876;
    top: 1%;
    left: 37%;
    animation-duration: 20s;
    animation-delay: -14s;
    transform-origin: 5vw 0vh;
    box-shadow: -38vmin 0 5.24812466705589vmin currentColor;
}
.backgroundppl span:nth-child(22) {
    color: #e18989;
    top: 37%;
    left: 79%;
    animation-duration: 17s;
    animation-delay: -29s;
    transform-origin: 23vw -2vh;
    box-shadow: 38vmin 0 5.080460481560792vmin currentColor;
}
.backgroundppl span:nth-child(23) {
    color: #e18989;
    top: 67%;
    left: 32%;
    animation-duration: 20s;
    animation-delay: -29s;
    transform-origin: 21vw 8vh;
    box-shadow: 38vmin 0 5.354857546704127vmin currentColor;
}
.backgroundppl span:nth-child(24) {
    color: #000000;
    top: 32%;
    left: 14%;
    animation-duration: 31s;
    animation-delay: -50s;
    transform-origin: 13vw -21vh;
    box-shadow: 38vmin 0 4.828584995508452vmin currentColor;
}
.backgroundppl span:nth-child(25) {
    color: #e18989;
    top: 20%;
    left: 84%;
    animation-duration: 39s;
    animation-delay: -19s;
    transform-origin: 17vw -7vh;
    box-shadow: -38vmin 0 5.481725120178702vmin currentColor;
}
.backgroundppl span:nth-child(26) {
    color: #e18989;
    top: 89%;
    left: 6%;
    animation-duration: 35s;
    animation-delay: -50s;
    transform-origin: 10vw -6vh;
    box-shadow: 38vmin 0 5.247552224636822vmin currentColor;
}
.backgroundppl span:nth-child(27) {
    color: #bb5876;
    top: 33%;
    left: 47%;
    animation-duration: 43s;
    animation-delay: -31s;
    transform-origin: -18vw 24vh;
    box-shadow: 38vmin 0 5.524623407131935vmin currentColor;
}
.backgroundppl span:nth-child(28) {
    color: #bb5876;
    top: 29%;
    left: 98%;
    animation-duration: 13s;
    animation-delay: -30s;
    transform-origin: -5vw 6vh;
    box-shadow: -38vmin 0 4.8288158077355074vmin currentColor;
}
.backgroundppl span:nth-child(29) {
    color: #bb5876;
    top: 49%;
    left: 3%;
    animation-duration: 21s;
    animation-delay: -19s;
    transform-origin: -15vw -20vh;
    box-shadow: -38vmin 0 5.665941572190821vmin currentColor;
}
.backgroundppl span:nth-child(30) {
    color: #e18989;
    top: 5%;
    left: 4%;
    animation-duration: 43s;
    animation-delay: -46s;
    transform-origin: -10vw 19vh;
    box-shadow: 38vmin 0 5.344437962496159vmin currentColor;
}
.backgroundppl span:nth-child(31) {
    color: #e18989;
    top: 11%;
    left: 6%;
    animation-duration: 49s;
    animation-delay: -48s;
    transform-origin: -12vw -21vh;
    box-shadow: 38vmin 0 5.621066040224286vmin currentColor;
}
.backgroundppl span:nth-child(32) {
    color: #e18989;
    top: 60%;
    left: 41%;
    animation-duration: 48s;
    animation-delay: -40s;
    transform-origin: -18vw 7vh;
    box-shadow: 38vmin 0 5.0443637122579315vmin currentColor;
}
.backgroundppl span:nth-child(33) {
    color: #e18989;
    top: 75%;
    left: 57%;
    animation-duration: 50s;
    animation-delay: -12s;
    transform-origin: -6vw 4vh;
    box-shadow: -38vmin 0 4.923881411192247vmin currentColor;
}
.backgroundppl span:nth-child(34) {
    color: #000000;
    top: 73%;
    left: 69%;
    animation-duration: 22s;
    animation-delay: -13s;
    transform-origin: -10vw 0vh;
    box-shadow: -38vmin 0 5.492617313888555vmin currentColor;
}
.backgroundppl span:nth-child(35) {
    color: #000000;
    top: 19%;
    left: 32%;
    animation-duration: 40s;
    animation-delay: -42s;
    transform-origin: -20vw 6vh;
    box-shadow: -38vmin 0 5.688427386525839vmin currentColor;
}
.backgroundppl span:nth-child(36) {
    color: #e18989;
    top: 18%;
    left: 54%;
    animation-duration: 43s;
    animation-delay: -9s;
    transform-origin: 13vw -22vh;
    box-shadow: 38vmin 0 5.55561560332947vmin currentColor;
}
